/* src/global.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.recharts-wrapper {
    width: 100% !important;
    height: 100% !important;
}

.recharts-surface {
    overflow: visible !important;
    width: 100% !important;
    height: 100% !important;
}

.recharts-curve {
    stroke-width: 2px !important;
}

.recharts-line {
    display: block !important;
}